# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [8]:
number = 5
print (number)

5

##### Assinging float

In [9]:
fnumber = 2.5
print(fnumber)
fnumber = 2.8
print (fnumber)

2.5
2.8

#### Performing Calculations on ints and floats

##### Addition

In [24]:
num1 = 8
num2 = 2.7
result = num1 + num2
print(result)
#shorthand version
result += 3
print (result)

10.7
13.7

##### Subtraction

In [25]:
result_sub = num1 - num2
print (result_sub)
#shorthand version
result_sub -= 2
print(result_sub)

5.3
3.3

##### Multiplication

In [22]:
result_mult = num1 * num2
print(result_mult)

#shothand 
result_mult *= 2
print(result_mult)

21.6
43.2

##### Division

In [21]:
num3 = 6
result_div = num3/num1
print(result_div)
#shortharnd 
result_div /= 2
print(result_div)

0.75
0.375

##### Floor Division

In [38]:
result_f = num1//num2
print(result_f)
#shorthanded 
result_f //=2
print(result_f)

2.0
1.0

##### Modulo

In [53]:
result_mod = num1 % 5
print(result_mod)
#shorhand 
result_mod %= 3
print(result_mod)

3
0

##### Exponential

In [60]:
result_square = 2**3
print(result_square)
#shorthand 
result_square **= 2
print(result_square)

8
64

### String Input-Output

##### String Assignment

In [62]:
name = 'Sernys'
print(name)

Sernys

##### print() <br>
<p>Don't forget about end=' '</p>

In [67]:
print("This is my first name:",name)
print("My Full name is: ", name, end=" Miranda")

This is my first name: Sernys
My Full name is:  Sernys Miranda

##### String Concatenation

In [69]:
first_name = "Eunice"
last_name = "Melendez"
print(first_name +' '+ last_name)

Eunice Melendez

##### Type Conversion

In [75]:
num = "32"
change_type_num = int(num)
change_type_num += 4
print(change_type_num)

36

##### input()

In [82]:
name = input("What is your name: ")
print(name)
age = input("what is your age: ")
print (age)
print("Your Name is: "+name+" and you are " + age+" year old!")

What is your name: Sernys
Sernys
what is your age: 32
32
Your Name is: Sernys and you are 32 year old!

##### format()

In [2]:
name = input("What is your name ")
age = input("What is your age ")
result_string = "You are {},you are {} years old and you are getting wiser!".format(name,age)
print(result_string)

What is your name Sernys
What is your age 30
You are Sernys,you are 30 years old and you are getting wiser!

##### Old Way (python 2)

In [19]:

result_string2 = "You are %s and you look great for you age " %age
print(result_string2)

You are 30 and you look great for you age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input("Color of the car: ")
year = input("Year of the car: ")
make = input("Make of the car:")
model = input("What is the model of the car:")
result_car = ("You have a:{} {} {} {}".format(color,year,make,model))
print(result_car)

Color of the car: Red
Year of the car: 2017
Make of the car:Toyota
What is the model of the car:Corrolla
You have a:Red 2017 Toyota Corrolla

### If Statements

In [32]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
num1 = 5
num2 = 5
if num1 == 8:
    print("Equal Values")
if num2 > num1:
    print("Num2 is greater than")
elif num2<num1:
    print("Num2 is less than")
else:
    print("They're the same ")

Not Equal
They're the same

##### 'is' keyword

In [37]:
# we use 'is' when checkig for the same or similar object,NOT the samne value

num3 = 55
num4 = num3
if num3 is num4:
    print("This is te same type or similar object")

This is te same type or similar object

##### 'in' keyword

In [40]:
char_name = "Max Payne"
if "Max" in char_name:
    print("The Character name lost everything")

The Character name lost everything

##### 'not in' keyword'

In [42]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
user = input("Enter to check if the letter is in it:")
if 'p' in user:
    print("The Letter p is in input")
else:
    print("Letter  p is not in the imput")

Enter to check if the letter is in it:pedro
The Letter p is in input

## Using 'and'/'or' with If Statements

In [3]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
first_name = 'Max'
age = 11
if first_name == "Max" or age == 10:
    print("I am Max and im 10 ")
elif  first_name =="Max" and age == 10 :
    print("I am either Max or i am 10")

I am Max and im 10

### Elif Statements

In [ ]:
#see above

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
#for item in interable_thing
    # do some stuff
name = "Sernys Miranda"
for letter in range(len(name)):
        print(letter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [15]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [17]:
for i in range(20):
    if i == 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [18]:
for i in name:
    pass
# i will come back and finish this part later!

##### Double For Loops

In [22]:
for i in range(3):
    for j in range(2):
        print("i = ",1,"j = ",j)

i =  1 j =  0
i =  1 j =  1
i =  1 j =  0
i =  1 j =  1
i =  1 j =  0
i =  1 j =  1

### While Loops

In [45]:
#while condition statement (somenthing is ture or false)
#do some stuff repeatedly until the condition are met and then it end
num = 0 
while True:
    if num >= 10:
        break
    print(num)
    num += 1
    
while num < 10 :
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [81]:
game_running = True
score = 0
while game_running:
    user_input = input("Say Somenthing ")
    if user_input == 'quit':
        game_running = False
    print(user_input)
    score += 1
    print (F" score: {score  + 1 }" )

Say Somenthing somenbthing
somenbthing
 score: 2
Say Somenthing 2ow
2ow
 score: 3
Say Somenthing quit
quit
 score: 4

##### While & For Loops Used Together

In [87]:
num = 0
while num <= 5:
    print("\nIn while loop Interation "+ str(num))
          
    for i in range(2):
          print("For Loop Interation: "+ str(i))
    num += 1

In while loop Interation 0
For Loop Interation: 0
For Loop Interation: 1

In while loop Interation 1
For Loop Interation: 0
For Loop Interation: 1

In while loop Interation 2
For Loop Interation: 0
For Loop Interation: 1

In while loop Interation 3
For Loop Interation: 0
For Loop Interation: 1

In while loop Interation 4
For Loop Interation: 0
For Loop Interation: 1

In while loop Interation 5
For Loop Interation: 0
For Loop Interation: 1

### Built-In Functions

##### range()

In [93]:
#range ( start, stop, step)
# default: start = 0, stop is required, step = 1
for i in range(0,20,3):
    print(i)

0
3
6
9
12
15
18

##### len()

In [94]:
name = "Max"
length = len(name)
print(length)

3

##### help()

In [41]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [98]:
print(isinstance(4.5,int))
if isinstance(4.5,float):
      print("This number is a float type")

False
This number is a float type

##### abs()

In [99]:
# | 5 | 
print(abs(-5))

5

### Try and Except

In [104]:
#use this whenever you expect to encounter a bug so that the errer doesn't cause the program to stop.
#Use this to log out graceful and informative error message
try:
    number_test = 0
    input_num = int(input("Guess the Number: "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input into number")

Guess the Number: wow
That did not work - ERROR: Please change your input into number

### Lists

##### Declaring Lists

In [28]:
my_list = [] # this is a empty list

name = ['Max','Cindy','Kathy',5,'Nate']
print(name)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [29]:
#Syntax: list_name[start:stop:step]

#single index
print (name[2])# python always start with 0 and this is why it print kathy

#print the last value no matter the size of the list

print(name[-1])
#print starting at 1 goin to the end

print(name[1:])

#print starting at the beginning of list until the whatever idex we git it
print(name[:3])

#print from one videx to another
print(name[2:4])

#print starting at index goin up by 2 for each interation\
print(name[1::2])\
#print starting at the end and goin down by 1 each time
print(name[::-1])

Kathy
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [30]:
name.append("Bob")
print(name)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'Bob']

##### .insert()

In [40]:
name.insert(3,'Gabby')
print(name)

['Max', 'Gabby']

##### .pop()

In [39]:
#default is the last value is no parameter is given
#pop() return the element that was removed in case you want to assign it into variable

my_name = name.pop()
print(my_name)
print(names)

Kathy

NameError: name 'names' is not defined


##### .remove()

In [36]:
#value to be removed, not the index

name.remove('Nate')
print(name)

['Max', 'Cindy', 'Kathy', 5]

##### del()

In [37]:
#Careful, it can cause indexing error if used improperly
del(name[1])
print(name)

['Max', 'Kathy', 5]

##### Concatenating Two Lists

In [41]:
first_list = [0,1,2]
second_list = [3,4,5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [44]:
name = ['Max','Sam','Josh',['Sally','Sue','Tameke']]
print(name)
print(name[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameke']]
Sue

##### Looping Through Lists

In [45]:
#there is two ways to look through a list, one is by index and the other is by using 'in' keyword
# with a for loop using the index
for i in range(len(name)):
    print(name[i])

#loop with a for loop in
for i in name:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameke']
Max
Sam
Josh
['Sally', 'Sue', 'Tameke']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [87]:
for cube in range(2,12):
    cube **= 3
    if cube > 1000:
        break
    print(cube)

8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [8]:
for num in range(1, 100 , 1):
#prime number are greater than 1 and start in 2 and is the only even number that is prime
   if num > 1:
    for i in range(2, num):
        if num % i == 0: 
                break
    else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [57]:
person_age = int(input('Enter your age: '))
if person_age < 18:
    print('Kids')
elif person_age >=18 and person_age <= 65:
    print('Adult')
else:
    print('Seniors')

Enter your age: 3
Kids